.editcategory .userinfo-nav .logo-box {
  width: 60px;
  height: 28px;
  line-height: 46px;
}
.editcategory .userinfo-nav .van-nav-bar__right {
  padding-left: 0;
}
.editcategory .userinfo-nav .head-portrait {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.editcategory .userinfo-nav .van-search {
  padding: 0 16px;
}
.editcategory .addorde {
  padding: 0 16px;
}
.editcategory .addorde .category {
  display: flex;
  flex-wrap: wrap;
}
.editcategory .addorde .category p {
  width: 20%;
  text-align: center;
  margin: 1.5% 2%;
  padding: 2% calc(2% - 12px);
}
.editcategory .addorde .addcategory p {
  border: 1px solid #1a73e8;
  color: #1a73e8;
}
.editcategory .addorde .deletecategory p {
  border: 1px solid #ee0124;
  color: #ee0124;
}
