.home .userinfo-nav .logo-box {
  width: 60px;
  height: 28px;
  line-height: 46px;
}
.home .userinfo-nav .van-nav-bar__right {
  padding-left: 0;
}
.home .userinfo-nav .head-portrait {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.home .userinfo-nav .van-search {
  padding: 0 16px;
}
.home .banner .banner-box {
  position: relative;
}
.home .banner .banner-box .tab-control {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 999;
}
.home .banner .banner-box .van-tabs--line .van-tabs__wrap {
  width: 85%;
}
.home .banner .banner-box .detail-video {
  width: 100%;
  height: 100%;
}
.home .banner .banner-box .detail-video .detail-type .item-video {
  width: calc(50% - 10px);
  min-height: 142px;
  margin: 8px 5px;
}
.home .banner .banner-box .detail-video .detail-type .item-video .item-title {
  margin-top: 8px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home .banner .banner-box .detail-video .detail-type .item-video .barrage {
  text-align: right;
}
.home .banner .banner-box .detail-video .detail-type .item-video .watch,
.home .banner .banner-box .detail-video .detail-type .item-video .barrage {
  color: white;
  flex: 1;
  font-size: 20px;
  line-height: 20px;
  justify-content: space-between;
}
.home .banner .banner-box .detail-video .detail-type .item-video .watch .count-num,
.home .banner .banner-box .detail-video .detail-type .item-video .barrage .count-num {
  font-size: 12px;
}
.home .banner .banner-box .detail-video .detail-type .item-pic {
  min-height: 93.75px;
  position: relative;
}
.home .banner .banner-box .detail-video .detail-type .item-pic .count {
  width: calc(100% - 10px);
  display: flex;
  padding: 0 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), transparent);
}
