.login .login-nav {
  padding-top: 32px;
  background-color: #ea7a9a;
}
.login .login-nav /deep/ .van-nav-bar {
  background-color: #ea7a9a;
}
.login .login-nav /deep/ .van-icon {
  color: white;
}
.login .login-nav /deep/ .van-nav-bar__text {
  color: white;
  font-weight: bold;
}
.login .login-nav /deep/ .van-nav-bar__title {
  margin: 0 50px;
  color: white;
  font-weight: bold;
}
.login .login-info /deep/ .van-field__label {
  width: 3.1rem;
}
.login .login-info /deep/ .van-button--default {
  border: none;
  outline: none;
  color: red;
  font-weight: bold;
}
.login .login-control .login-control-bypsd,
.login .login-control .login-control-byphone {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.login .login-control .register-btn,
.login .login-control .login-btn {
  margin: 0 5px;
  flex: 1;
}
