.left {
    width: 700px;
    height: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: crosshair;
}

.left img {
    width: 100%;
}

.zoom {
    width: 120px;
    height: 120px;
    border: 5px solid white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: url(../img/02.jpg) no-repeat;
}

input {
    width: 350px;
    height: 50px;
    font-size: 24px;
}

button {
    width: 120px;
    height: 50px;
}
